<h1>Song Punch</h1>

<div class="concert-search">
	<%= form_tag '/concerts', method: :get do %> 
		<%= text_field_tag 'city' %>
		<%= submit_tag "Submit", class: "btn btn-default" %>
	<% end %>
</div>

