<h1>Song Punch</h1>

<%= form_tag '/concerts', method: :get do %> 
	<%= text_field_tag 'city' %>
<% end %>
 

 <!-- 
</form>
<div class="input-group">
  <input type="text" class="form-control">
  <div class="input-group-btn">
  </div>
</div> -->
