<h1>List of Concerts in <%= params[:city] %> </h1>

<div class="concert-list">
	<% if @concerts.any? %>
		<p class="info">
			Check it out brah, these are the concerts in your hood:
		</p>
		<ul>
			<% @concerts.each do |c| %>
				<li>
					<%= link_to c.title, concert_path(c) %>
				</li>
			<% end %> 
		</ul>
	<% else %> 
		<p class="error">
			No concerts, because... well <br/>
			your city sucks brah!

			<br/><br/>
			
			<%= link_to 'Try again!', :back %>
		</p>
	<% end %>
</ul>

