// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.concert-list {
	background-color: white;
	padding: 20px 20px 20px 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px gray;
	width: 400px;
	margin: auto;

	p {
		border-radius: 5px;
		padding: 10px;
		text-align: center;
		font-weight: bold;

		&.info {
			background-color: lightblue;
			border: 1px solid blue;
		}

		&.error {
			background-color: pink;
			border: 1px solid red;
		}

	}

}
